<div *ngIf="isModalShown" [config]="{ show: true, backdrop: false }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog">
    <div class="modal-content p-4">
      <div class="d-flex align-items-center justify-content-between">
        <div class="modal-head">
          <h4 id="dialog-auto-name" class="modal-title pull-left">Edit Opportunity</h4>
          <hr class="hr-line">
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span class="lnr lnr-cross" aria-hidden="true"></span>
        </button>
      </div>
      <div *ngIf="data" class="modal-body">
        <form #f="ngForm" class="pt-4" (submit)="update(f.valid)">
          <div class="row">
            <div class="col-12 mb-3">
              <label class="text-muted mb-0 text-uppercase text-sm" for="title">Title</label><span class="text-danger">*</span>
              <input required appLimitTo [limit]="100" type="text" #name="ngModel" class="form-control" name="title"
                     [(ngModel)]="updateObj.title" id="title">
              <span class="error-msg" @fadeDown *ngIf="!name?.valid && (name.touched || f.submitted)">Title is required</span>
            </div>
            <div class="col-12 mb-3">
              <label class="text-muted mb-0 text-uppercase text-sm" for="description">Description</label><span class="text-danger">*</span>
              <input required appLimitTo [limit]="500" type="text" class="form-control" name="description" #detail="ngModel"
                     [(ngModel)]="updateObj.description" id="description">
              <span class="error-msg" @fadeDown *ngIf="!detail?.valid && (detail.touched || f.submitted)">Description is required</span>
            </div>
            <div class="col-12 mb-3">
              <div class="row">
                <div class="col-6">
                  <label class="text-muted mb-0 text-uppercase text-sm" for="sDate">Start date</label><span class="text-danger">*</span>
                  <input required bsDatepicker #sDate="bsDatepicker" type="text" class="form-control" name="sDate"  #sd="ngModel" [(ngModel)]="updateObj.earliest_start_date"
                         [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" container="body" id="sDate">
                  <span class="error-msg" @fadeDown *ngIf="!sd?.valid && (sd.touched || f.submitted)">Please select date</span>
                </div>
                <div class="col-6">
                  <label class="text-muted mb-0 text-uppercase text-sm" for="eDate">End date</label><span class="text-danger">*</span>
                  <input required bsDatepicker #eDate="bsDatepicker" type="text" class="form-control" name="eDate"  #ed="ngModel" [(ngModel)]="updateObj.latest_end_date"
                         [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" container="body" id="eDate">
                  <span class="error-msg" @fadeDown *ngIf="!ed?.valid && (ed.touched || f.submitted)">Please select date</span>
                </div>
              </div>
            </div>
            <div class="col-12 mb-3">
              <label class="text-muted text-uppercase text-sm mb-0" for="cDate">Application close date</label><span class="text-danger">*</span>
              <input required bsDatepicker #cDate="bsDatepicker" type="text" class="form-control" name="cDate" #cd="ngModel"
                     [(ngModel)]="updateObj.applications_close_date" (bsValueChange)="onValueChange($event)" id="cDate" container="body" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'}">
              <span class="error-msg" @fadeDown *ngIf="!cd?.valid && (cd.touched || f.submitted)">Please select date</span>
            </div>
            <div class="col-12 mb-3">
              <label class="text-muted text-uppercase text-sm mb-0" for="bg">Backgrounds</label><span class="text-danger">*</span>
              <ng-select name="backgrounds" #bg="ngModel" id="bg" [items]="allBackgrounds" bindLabel="name" closeOnSelect="false" hideSelected="true" [multiple]="true" [maxSelectedItems]="3"
                         appendTo="body" [(ngModel)]="updateObj.backgrounds" required></ng-select>
              <span class="error-msg" @fadeDown *ngIf="!bg?.valid && (bg.touched|| f.submitted)">Please select background(s)</span>
            </div>
            <div class="col-12 mb-3">
              <label class="text-muted text-uppercase text-sm mb-0" for="skills">Skills</label><span class="text-danger">*</span>
              <ng-select name="skills" #skill="ngModel" id="skills" [items]="allSkills" bindLabel="name" closeOnSelect="false" hideSelected="true" [multiple]="true"
                         appendTo="body" [(ngModel)]="updateObj.skills" required></ng-select>
              <span class="error-msg" @fadeDown *ngIf="!skill?.valid && (skill.touched|| f.submitted)">Please select skill(s)</span>
            </div>
            <div class="col-12 mb-3">
              <div class="row">
                <div class="col-6">
                  <label class="text-muted text-uppercase text-sm mb-0" for="selection">Selection Process</label><span class="text-danger">*</span>
                  <input required appLimitTo [limit]="100" type="text" class="form-control" name="selection" #process="ngModel"
                         [(ngModel)]="updateObj.role_info.selection_process" id="selection">
                  <span class="error-msg" @fadeDown *ngIf="!process?.valid && (process.touched|| f.submitted)">Please enter selection process</span>
                </div>
                <div class="col-6">
                  <label class="text-muted text-uppercase text-sm mb-0" for="salary">Salary</label><span class="text-danger">*</span>
                  <input required appLimitTo [limit]="8" type="number" class="form-control" name="salary" #sal="ngModel"
                         [(ngModel)]="updateObj.specifics_info.salary" id="salary">
                  <span class="error-msg" @fadeDown *ngIf="!sal?.valid && (sal.touched|| f.submitted)">Please enter salary</span>
                </div>
              </div>
            </div>
            <div class="col-12 mb-3">
              <label class="text-muted text-uppercase text-sm mb-0" for="city">City</label><span class="text-danger">*</span>
              <input ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="onCityChange($event)" required name="city" id="city" class="form-control" [(ngModel)]="updateObj.role_info.city">
              <span class="error-msg" @fadeDown *ngIf="!placesRef?.valid && (placesRef?.errors || f.submitted)">Please select city</span>
            </div>
            <div class="col-12 text-center">
              <button class="btn btn-secondary-grad mt-3 text-white border-0" [disabled]="!f.valid">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
