<div class="app-container h-100v">
	<div class="container-fluid h-100">
		<div *ngIf="opportunity" class="row h-100">
      <div class="col-12 px-0">
        <div class="app-hero-component d-flex align-items-center justify-content-center flex-column" [style.background-image]="'url(' + opportunity.cover_photo_urls + ')'">
          <nav class="navbar fixed-top bg-transparent border-0">
            <a class="navbar-brand" href="#">Default</a>
          </nav>
          <h2 class="text-white opportunity-title text-center">{{title}}</h2>
          <p class="text-white z-index-10 opportunity-location my-2">
            <span class="lnr lnr-map-marker"></span> {{opportunity.location}}
          </p>
          <button class="btn btn-secondary-grad border-0 text-white my-3" [class.cursor-disabled]="!isEnabled" [disabled]="!isEnabled">{{isEnabled ? 'Apply Now' : 'Expired'}}</button>
        </div>
      </div>
			<div class="col-sm-7 h-100 py-4 p-sm-4">
        <app-opportunity-general [opportunity]="opportunity"></app-opportunity-general>
      </div>
      <div class="col-sm-5 h-100 py-4 pr-4">
        <app-opportunity-profile [opportunity]="opportunity"></app-opportunity-profile>
      </div>
		</div>
	</div>
  <button (click)="showModal = true" class="fab border-0">
    <span class="lnr lnr-pencil"></span>
  </button>
  <app-edit-modal [data]="opportunity" [isModalShown]="showModal" (onResponse)="showAlert($event)" (onClose)="showModal=false;"></app-edit-modal>
  <app-alert *ngIf="isAlertShown" [isVisible]="isAlertShown" [isSuccess]="alertObj.isSuccess" [message]="alertObj.msg"></app-alert>
</div>
